$white: #FFFFFF;
$black: #000000;

$background: #F5F7FA;

$text: #2c2e2f;
$text-button: #58585A;
$grey: #929395;
$dark: #333333;
$border: #9da3a6;
$border-light: #D4DADE;
$blue: #0066AA;
$blue-light: #A6CAE1;
$blue-icon: #0066AA;
$blue-secondary: #1546a0;

$gradient: linear-gradient(100deg, $blue, $blue-secondary);

$green: #2b8a3e;
$teal: #087f5b;
$cyan: #0b7285;
$grape: #862e9c;
$red: #c92a2a;
$gray: #212529;
